.NavbarItems {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}
