.NavbarItems {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: crosshair;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
}
