/* .App {
  margin-left: 20px;
  font-family: 'Tangerine', serif;
  font-size: 48px;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Caladea', serif;
  font-size: 20px;
}
.Home {
  text-align: center;
 
}
